* {
  box-sizing: border-box;
}

/*Notes on things related to grid: https://css-tricks.com/snippets/css/complete-guide-grid/*/
html {
  color: black;
}

a {
  color: inherit;
}

p {
  max-width: 70ch;
  padding-right: 1em;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 1em;
  margin: 0;
  padding: 1em;
}

main {
  outline: 1px solid black;
  margin-right: 2em;
  padding-left: 2em;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
}

.intentionally_blank {
  grid-column: 2;
  text-transform: uppercase;
}

.copywrite_date {
  grid-column: 3;
  justify-self: end;
  font-size: 2em;
}

.offset_bullet li {
  list-style-type: none;
  position: relative;
}

.offset_bullet li::before {
  content: "\2022";
  position: absolute;
  left: -0.8em;
  top: -0.25em;
  font-size: 1em;
}
